name: WARSTV Kaynak Cekici

on:
  schedule:
    - cron: '*/30 * * * *' # Her 30 dakikada bir otomatik calisir
  workflow_dispatch: # Manuel olarak butona basip calistirmak istersen

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Repoyu Kopyala
        uses: actions/checkout@v3

      - name: Python Kur
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Kutuphaneleri Yukle
        run: pip install requests

      - name: Kaynak Kodunu Cek
        run: python atom.py

      - name: Degisiklikleri Kaydet ve Pushla
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add atom.txt
          git commit -m "Sayfa kaynagi guncellendi: $(date)" || exit 0
          git push
          
