name: HBO Max Günlük Bot

on:
  schedule:
    - cron: '0 */4 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  scrape_and_update:
    runs-on: ubuntu-latest

    steps:
      - name: Depoyu Cek
        uses: actions/checkout@v4

      - name: Python Kur
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Sistem Paketlerini Yukle
        run: |
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable xvfb

      - name: Python Kutuphanelerini Yukle
        run: |
          pip install selenium undetected-chromedriver

      - name: Botu Calistir
        # Komutu pipe (|) ile blok haline getirdim ki eksik okumasın
        run: |
          xvfb-run python atom.py

      - name: Degisiklikleri Kaydet
        run: |
          git config --global user.name "GitHub Action Bot"
          git config --global user.email "actions@github.com"
          git add hbomax.json
          git commit -m "HBO Max Guncellendi: $(date +'%Y-%m-%d %H:%M')" || exit 0
          git push
          
