name: CanliDizi FirePlayer Extractor

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Repo checkout
        uses: actions/checkout@v4

      - name: Python kurulumu
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Chrome kurulumu
        run: |
          sudo apt update
          sudo apt install -y google-chrome-stable

      - name: ChromeDriver kurulumu
        run: |
          CHROME_VERSION=$(google-chrome --version | awk '{print $3}' | cut -d'.' -f1)
          wget -q https://chromedriver.storage.googleapis.com/${CHROME_VERSION}.0.0/chromedriver_linux64.zip
          unzip chromedriver_linux64.zip
          sudo mv chromedriver /usr/bin/chromedriver
          sudo chmod +x /usr/bin/chromedriver

      - name: Gerekli paketler
        run: |
          pip install --upgrade pip
          pip install selenium webdriver-manager

      - name: Script
