name: YouTube Live HLS Updater

on:
  schedule:
    - cron: "*/2 * * * *"   # 2 dakikada bir
  workflow_dispatch:        # Manuel çalıştırma

jobs:
  update-hls:
    runs-on: ubuntu-latest

    steps:
      - name: Repo'yu çek
        uses: actions/checkout@v4

      - name: Python kur
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Gerekli paketleri kur
        run: |
          pip install --upgrade pip
          pip install requests

      - name: YouTube canlı HLS çek
        run: |
          python YouTube.py

      - name: Değişiklik var mı kontrol et
        run: |
          git status

      - name: Commit & Push
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add ahaber.m3u8
          git commit -m "Update A Haber HLS stream" || echo "Değişiklik yok"
          git push
